#textEditor {
  height: 70vh;
}

.container {
  margin-top: 100px;
}

#postLink {
  text-decoration: none;
}

#commentTitle {
  font-size: 1.4em;
}

#comments {
  padding: 20px;
}

#commentForm {
  margin-bottom: 30px;
}

#comment, #recentComment, #reportedComment, #rights {
  padding: 20px;
  background-color: white;
}

#commentDate {
  margin: -15px 0 0 0;
  font-size: 0.8em;
}

#reportComment, #delete, #modify, #deleteReport, #deleteRecentComment {
  font-size: 0.8em;
}

#submitTextEditor {
  margin-top: 30px;
  font-size: 1.2em;
}

#delete, #deleteReport, #deleteRecentComment {
  color: white;
}

#delete:hover, #deleteReport:hover, #deleteRecentComment:hover {
  cursor: pointer;
}

.adminMenu {
  font-size: 1.2em;
}

#recentCommentTitle, #reportedCommentTitle {
  margin-bottom: 30px;
}

#connectionComment, #addPostButton {
  margin-bottom: 20px;
}
