#textEditor {
  height: 70vh;
}

.container {
  margin-top: 100px;
}

#postLink {
  text-decoration: none;
}

#titlePost {
  display: inline;
}

#commentTitle {
  font-size: 1.4em;
}

#comments {
  padding: 20px;
}

#commentForm {
  margin-bottom: 30px;
}

#comment, #recentComment, #reportedComment {
  padding: 20px;
  background-color: white;
}

#commentDate {
  margin: -15px 0 0 0;
  font-size: 0.8em;
}

#delete, #deleteTextEditor, #deleteReport, #deleteRecentComment {
  color: white;
}

#delete:hover, #deleteReport:hover, #deleteRecentComment:hover {
  cursor: pointer;
}

.adminMenu {
  font-size: 1.2em;
}

#connectionComment, #addPostButton {
  margin-bottom: 20px;
}

#modifyPost {
  margin-bottom: 30px;
}

#accordion {
  margin-bottom: 80px;
}

#textEditorButtons {
  margin: 15px 0 15px 0;
}

#deleteTextEditor, #submitTextEditor {
  font-size: 1em;
}

#submitTextEditor {
  margin-right: 20px;
}
